{% extends "network/layout.html" %}

{% block body %}
	<h2 style="text-align:center"> Flight Delay Prediction Form </h2>
	<br />
	{% if user.is_authenticated %}
	<form action="{% url 'query' %}" method="post" enctype="multipart/form-data">
	{% csrf_token %}

		<label for="start">Flight date:</label>
		<br />
		<input type="date" id="start" name="start" value="2021-12-2" min="2021-01-01" max="2028-12-31">
		<br />
		
		<div class="form-group">
			<br />
			<label for="originairport">Origin Airport</label>
			<select class="form-control" id="originairport" name="originairport">
				{% for airport in airports %}
				<option>{{ airport }}</option>
				{% endfor %}
			</select>
		</div>
		
		<div class="form-group">
			<label for="destinationairport">Destination Airport</label>
			<select class="form-control" id="destinationairport" name="destinationairport">
				{% for airport in airports %}
				<option>{{ airport }}</option>
				{% endfor %}
			</select>
		</div>
		
		<div class="form-group">
			<label for="airlines">Airlines</label>
			<select class="form-control" id="airlines" name="airlines">
				{% for airline in airlines %}
				<option>{{ airline }}</option>
				{% endfor %}
			</select>
		</div>
		
		<div class="form-group">
			<label for="flighttime">Flight Time</label>
			<select class="form-control" id="flighttime" name="flighttime">
				{% for hour in hours %}
				<option>{{ hour }}</option>
				{% endfor %}
			</select>
		</div>
		
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
	{% endif %}
	
{% endblock %}